/web/app_dev.php
/web/config.php
/web/bundles/
/web/img/
/web/css/
/web/fontawesome/
/web/fonts/
/web/js/
/web/favicons/
/app/bootstrap.php.cache
/app/config/parameters.yml
/app/phpunit.xml
/build/
/vendor/
/var/
/node_modules/
/composer.phar
/composer.lock
.buildpath
.settings
.project
.idea
