{% trans_default_domain 'AppBundle' %}

<div id="footer">
    <div class="col-md-4">
        <span class="text-muted credit copyright">{{ 'footer.copyright'|trans }}</span>
    </div>
    <div class="col-md-4">
        <ul class="list-inline quicklinks">
            <li><a href="mailto:{{ 'footer.contact'|trans }}">{{ 'footer.contact'|trans }}</a></li>
        </ul>
    </div>
</div>