body {
    overflow-x: hidden;
    height: 100%;
}

#content {
	padding-top: 20px;
}

.navbar .container-fluid {
    padding: 4px 15px;
}

a,a:hover,a:focus,a:active,a.active {
	outline: 0;
}

img::selection {
    background: 0 0;
}